/* Default Css **/

a,
a:focus,
a:hover:focus,
button:focus,
button:hover:focus,
.btn:focus,
.btn:hover:focus,
a:hover {
    text-decoration: none;
    outline: none;
    border: none;
    -webkit-border: none;
    -moz-border: none;
    -ms-border: none;
    -o-border: none;
}

.form-control:focus {
    border-color: #349cfc;
    box-shadow: none;
}

img {
    max-width: 100%;
    height: auto;
}


p {
    margin-bottom: 20px;
}

b,
strong {
    font-weight: bold;
    color: #2c3943;
}

input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=search],
input[type=tel],
textarea {
    padding: 10px;
}

input[type=submit] {
    border: none;
    padding: 15px 36px;
    font-weight: 500;
    background: #ff0d54;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    color: black;
}

input.wpcf7-form-control.wpcf7-submit:hover {
    font-size: 16px;
    background: #0EB582;
    color: #000;
}

input.wpcf7-form-control.wpcf7-submit:hover {
    font-size: 16px;
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 18%);
    font-weight: 400 !important;
}


input:focus,
textarea:focus,
a:focus,
button:focus {
    outline: none
}

.post-single a:hover,
.comment-content a:hover {
    color: #2c3943;
}

.comment-content a {
    color: #2c3943;
}

.blog-btns a:hover {
    color: #ffffff;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #349cfc;
    border-color: #349cfc;
}

.mejs-audio {
    margin-bottom: 30px;
}

.blog-list .post-audio {
    margin-bottom: -8px;
}

.wp-block-media-text.alignwide {
    background-color: #f5f9ff;
}

.nav-links {
    overflow: hidden;
}

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
    text-align: right;
}

.nav-links .nav-previous {
    max-width: 45%;
}

.nav-links .nav-next {
    max-width: 45%;
}

.nav-links a {
    padding: 4px 0;
    border-radius: 2px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.wp-block-cover.has-background-dim.alignwide {
    background-color: #2c3943;
}

nav.navigation.post-navigation .nav-links a h3 {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-bottom: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.68);
    cursor: pointer;
}

nav.navigation.post-navigation .nav-links a h3:hover {
    color: #349cfc;
}

.evelo-post-navication {
    background-color: #fff;
    padding: 30px;
}

nav.navigation.post-navigation .nav-links a span {
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
    color: #349cfc;
    font-size: 15px;
}

.widget.evelo-ft-content ul ul {
    border-left: 1px solid rgba(154, 154, 154, 0.12);
}

footer .widget ul ul {
    border-left: 1px solid rgba(35, 37, 37, 0.66);
}

.widget.widget_calendar #wp-calendar td#today {
    background: #349cfc;
    color: #fff;
}

.evelo-ftw-box .widget.widget_calendar #wp-calendar th,
.evelo-ftw-box .widget.widget_calendar #wp-calendar td {
    color: #ffffff;
    border-right: 1px solid #403e3e;
    border-top: 1px solid #403e3e;
}

.evelo-ftw-box .widget.widget_calendar #wp-calendar th,
.evelo-ftw-box .widget.widget_calendar #wp-calendar td {
    color: #798795;
    border-right: 1px solid #798795;
    border-top: 1px solid #798795;
}

.evelo-ftw-box .calendar_wrap table {
    border-left: 1px solid #798795;
    border-bottom: 1px solid #798795;
}

.evelo-ftw-box .widget.widget_calendar #wp-calendar td a {
    color: #349cfc;
}


/* footer widget */

.evelo-ftw-box .widget select options {
    color: #2c3943;
}

.evelo-ftw-box select option {
    color: #2c3943;
}

.evelo-ftw-box .widget_archive ul.sbOptions li a:hover,
.evelo-ftw-box .widget_categories ul.sbOptions li a:hover {
    color: #349cfc;
}

.evelo-ftw-box .widget_archive ul.sbOptions li a,
.evelo-ftw-box .widget_categories ul.sbOptions li a {
    color: #2c3943;
    margin: 0;
}

.evelo-footer-widgets .col-xl-2.col-lg-2.col-md-6.col-sm-6.col-12 .evelo-ftw-box .calendar_wrap table td {
    padding: 0px;
    text-align: center;
}

.evelo-ftw-box .widget_recent_comments ul li {
    color: #ffffff;
}

.evelo-ftw-box .widget.widget_ress h2 a.rsswidget {
    color: #fff;
}

.evelo-ftw-box h2.widgettitle a.rsswidget {
    color: #fff;
}

.evelo-ftw-box .widget_rss h2 a.rsswidget {
    color: #fff;
}

.evelo-ftw-box .widget_recent_entries ul li,
.evelo-ftw-box .widget_rss ul li {
    line-height: 24px;
}

.evelo-ftw-box .widget_rss ul li a {
    font-weight: bold;
    display: block;
    width: 100%;
    margin-bottom: 14px;
    font-size: 14px;
    margin-top: 10px;
}

.evelo-ftw-box .widget.widget_categories ul li>span,
.evelo-ftw-box .widget.widget_archive ul li>span,
.evelo-ftw-box .widget_rss ul li {
    color: #798795;
    padding: 0;
}

.evelo-ftw-box .widget.widget_text .textwidget p>strong,
.evelo-ftw-box .widget_text p {
    color: white;
}

.evelo-ftw-box span.down-up {
    color: #ffffff;
}

.evelo-ftw-box .sbToggle {
    height: 104%;
    right: -1px;
    top: -1px;
}

footer .widget_search .search-form>input {
    border: 1px solid rgb(34, 34, 34);
}


/* Password protacted **/

.evelo-post-protact {
    text-align: center;
    padding: 60px 0;
    background: #f7f7f7;
    margin: 20px 35px;
}

.evelo-post-protact input[type="password"] {
    width: auto;
    min-width: 244px;
    border-radius: 35px;
    border: 1px solid #349cfc;
    padding: 9px 21px;
}

.evelo-post-protact input[type="submit"] {
    background: #349cfc;
    color: #fff;
    border-radius: 35px;
    padding: 10px 31px;
    cursor: pointer;
    margin-left: 10px;
}

.evelo-post-protact input[type="submit"]:hover {
    background-color: #2c3943;
    color: #ffffff;
}


/*** paginations ***/

.navigation.pagination ul.page-number,
.page-links.post-pagination>ul.page-numbers {
    padding: 0;
    margin: 0;
}

.page-links.post-pagination>ul.page-numbers {
    display: inline-block;
}

.navigation.pagination ul.page-numbers li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.page-links.post-pagination>p {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    color: #2c3943;
}

.page-links.post-pagination>ul.page-numbers li {
    display: inline-block;
    list-style: none;
}

.navigation.pagination ul.page-numbers li a,
.navigation.pagination ul.page-numbers li>span,
.page-links.post-pagination>ul.page-numbers li span,
.page-links.post-pagination>ul.page-numbers li a,
.comments-pagination a,
.comments-pagination span.page-numbers {
    display: block;
    width: 45px;
    height: 45px;
    background: #ffffff;
    text-align: center;
    padding: 10px;
    color: #2c3943;
    font-size: 15px;
    margin: 3px;
    border: 1px solid rgb(224, 224, 224);
}

nav.navigation.pagination span.page-numbers.dots {
    padding: 8px;
}

.navigation.pagination ul.page-numbers li>span,
.navigation.pagination ul.page-numbers li a:hover,
.page-links.post-pagination>ul.page-numbers li a:hover,
.page-links.post-pagination>ul.page-numbers li span,
.comments-pagination a:hover,
.comments-pagination span.page-numbers {
    background-color: #349cfc;
    color: #fff;
}

nav.navigation.comments-pagination .nav-links a,
nav.navigation.comments-pagination .nav-links>span {
    display: inline-block;
}

nav.navigation.comments-pagination {
    margin-bottom: 23px;
}

.navigation.pagination .nav-links {
    margin-bottom: 0;
    width: 100%;
}

.nave-arcive {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    text-align: center;
    width: 30px;
    margin: auto;
}

.theme-post-navication {
    position: relative;
    border: 1px solid #f1f1f1;
    padding: 40px;
    clear: both;
}

.nave-arcive a {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.29);
    margin: 0 auto;
}

.nave-arcive a:hover {
    color: #349cfc;
}

select {
    width: 100%;
    padding: 14px;
    border: 1px solid #d8d8d8;
    background-color: #f7f7f7;
}

select:focus {
    border-color: #349cfc;
    outline: #349cfc;
}

input:focus,
button:focus,
a:focus {
    text-decoration: none;
    outline: none;
    color: #349cfc;
}

footer h2.widtet-title {
    color: #ffffff
}

.evelo-ft-content ul {
    padding: 0;
    margin: 0;
}

.evelo-ft-content ul li {
    list-style: none;
}

.evelo-ft-content ul li a {
    color: #798795;
    text-transform: capitalize;
    position: relative;
}

.evelo-ft-content ul li a:hover {
    color: #349cfc;
}

.evelo-ft-content ul li a:before {
    content: "\f107";
    font-family: flaticon;
    font-size: 11px;
    margin-right: 8px;
    color: #798795;
}

a.wp-block-button__link:hover {
    color: #fff;
}

a.wp-block-button__link {
    color: #ffffff;
}


/* theme buttons **/

.theme-btn {
    text-align: center;
    border-radius: 3px;
}

.blob-btn {
    padding: 12px 28px;
    font-weight: 500;
    font-size: 15px;
    z-index: 1;
    position: relative;
    text-align: center;
    color: #349cfc;
    outline: none;
    border: none;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
}

.blob-btn:hover .blob-btn__inner {
    transition: .4s;
}

.blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    bottom: 0px;
    /* background-color: white; */
}

.blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    border-radius: 3px;
    left: 0;
    top: 0;
}

.blob-btn:hover {
    color: #FFFFFF;
    border-radius: 3px;
}

.blob-btn:hover:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 3px;
}

.blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #349cfc;
    transition: .4s;
}

.blob-btn i {
    position: relative;
    left: 10px;
}

.blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
}

.blob-btn__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: #2c3943;
    border-radius: 100%;
    -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
    transform: translate3d(0, 150%, 0) scale(1.7);
    -webkit-transition: -webkit-transform 0.45s;
    transition: -webkit-transform 0.45s;
    transition: transform 0.45s;
    transition: transform 0.45s, -webkit-transform 0.45s;
}

@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
    .blob-btn__blob {
        -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
        transform: translate3d(0, 150%, 0) scale(1.4);
    }
}

.blob-btn__blob:nth-child(1) {
    left: 0%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
    left: 30%;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
    left: 60%;
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
    left: 90%;
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
    -webkit-transform: translateZ(0) scale(1.7);
    transform: translateZ(0) scale(1.7);
}

@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
    .blob-btn:hover .blob-btn__blob {
        -webkit-transform: translateZ(0) scale(1.4);
        transform: translateZ(0) scale(1.4);
    }
}

.wp-block-search .wp-block-search__input {
    flex-grow: 1;
    min-width: 3em;
    border: 1px solid #b9bbbf9c;
}
.wp-block-search .wp-block-search__button {
    background: #fd5d14;
    border: 1px solid #f1f5fd;
    padding: 7px 14px;
    color: #32373c;
    margin-left: 0;
    margin-top: 9px;
    word-break: normal;
    line-height: 1;
    height: 56px;
    cursor: pointer;
    transition: .4s;
}

.wp-block-search .wp-block-search__button:hover {
    background-color: #000;
    color: #ffffff;
    border: 1px solid transparent;
}